<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
h1{
    text-align: center;
    background-color: rgb(221, 198, 243);
    background-attachment: fixed;
}
p{
    text-align: center;
}
.container{
    text-align: center;
}
</style>

<br><h1>ABOUT</h1><br>

<p>멋쟁이 사자처럼 7기 서지형이 만든 작품입니다.</p>
<p>단어를 세주죠.</p>
<br><br>
<div class="container">
    <a href="{% url 'index' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">메인으로</a>
    <a href="{% url 'home' %}" class="btn btn-danger btn-lg active" role="button" aria-pressed="true">home으로 가기</a>
</div>